<section>
    <div class="row">
        <div class="col-lg-6">
            <input type="text" class="form-control" placeholder="Search for..." autofocus="" ng-model="vm.userSearch" ng-keyup="vm.search($event)">
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="btn-group pull-right">
                <a class="btn btn-info"
                   data-ng-click="vm.refresh()">
                    <i class="glyphicon glyphicon-refresh"></i><span>Refresh</span>
                </a>
            </div>
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <div class="page-title pull-left">{{vm.title}}</div>
            <small class="page-title-subtle pull-left">({{vm.userFilteredCount}} / {{vm.userCount}})</small>
            <!--<div class="pull-right"><small class="page-title-subtle">Page {{vm.paging.currentPage}} of {{vm.paging.pageCount}}</small></div>-->
            <div class="clearfix"></div>
        </div>

        <div class="panel-body">
            <div class="row">
                <form class="form-inline form-group">
                    <input type="text" class="form-control" placeholder="New username" ng-model="vm.newUsername" ng-keyup="vm.clearInput($event)">
                    <button type="submit" class="btn btn-primary" ng-click="vm.addItem()"
                            tooltip="Click here to add new user" tooltip-placement="right">
                        <span class="fa fa-plus"></span> Add
                    </button>
                </form>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-4">Username</th>
                        <th class="col-md-3">Roles</th>
                        <th class="col-md-3">Claims</th>
                        <th class="col-md-2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in vm.filteredUsers">
                        <td>{{user.userName}} ({{user.id}})</td>
                        <td>
                            <!--<span ng-repeat="role in user.roles" class="label label-primary" style="cursor: pointer; margin-right: 3px;"
                                 ng-hide="vm.currentEdit[user.id]">
                                {{role}}
                            </span>-->
                            <ul class="list-inline" ng-hide="vm.currentEdit[user.id]">
                                <li ng-repeat="role in user.roles">
                                    <span class="label label-info">{{role}}</span>
                                </li>
                            </ul>
                            <!--<span ng-repeat="role in user.roles" ng-hide="vm.currentEdit[user.id]">
                                {{role}}
                            </span>-->
                            <tags-input ng-model="vm.itemToEdit.roles" placeholder="Add a role" ng-show="vm.currentEdit[user.id]" display-property="name">
                                <auto-complete source="vm.availableRoles" min-length="1" load-on-down-arrow="true"></auto-complete>
                            </tags-input>
                        </td>
                        <td></td>
                        <td>
                            <div class="btn-group" dropdown ng-hide="vm.currentEdit[user.id]">
                                <button class="btn btn-success dropdown-toggle" dropdown-toggle type="button">
                                    

                                      Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a ng-click="vm.editItem(user)">Edit</a></li>
                                    <li><a ng-click="vm.deleteItem(user)">Delete</a></li>
                                </ul>
                            </div>

                            <button class="btn btn-success" ng-show="vm.currentEdit[user.id]" ng-click="vm.saveItem(user)">Save</button>
                            <button class="btn btn-danger" ng-show="vm.currentEdit[user.id]" ng-click="vm.cancelEdit(user.id)">Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>