@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tolerance Kiosk</title>
    <link href="~/Content/bootstrap.darkly.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    @*    <link href="~/Content/slider.css" rel="stylesheet" />*@
    <link href="~/Content/keyboard.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/kiosk.css" rel="stylesheet" />
    <link href="~/Content/kiosk-animations.css" rel="stylesheet" />
</head>
<body ng-app="app">

    @*    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1" spinner-start-active="false"></span>*@


    <div ui-view id="main-view" class="myanimation"></div>

    <!-- Vendor Scripts -->
    <script src="~/scripts/jquery-2.1.1.js"></script>
    <script src="~/scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-messages.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/q.js"></script>
    <script src="~/scripts/breeze.debug.js"></script>
    <script src="~/scripts/breeze.directives.js"></script>
    <script src="~/Scripts/breeze.bridge.angular.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>


    <!--Bootstrappping-->
    <script src="~/app/kiosk/app.js"></script>
    <script src="~/app/config.js"></script>
    <script src="~/app/config.exceptionHandler.js"></script>

    <!--Common Modules-->
    <script src="~/app/common/common.js"></script>
    <script src="~/app/common/logger.js"></script>

    <!-- app -->
    <script src="~/app/kiosk/welcome.js"></script>
    <script src="~/app/kiosk/find/find.controller.js"></script>
    <script src="~/app/kiosk/create/create.controller.js"></script>

    <!-- app Services -->
    <script src="~/app/services/datacontext.js"></script>
    <script src="~/app/services/directives.js"></script>
    <script src="~/app/services/entityManagerFactory.js"></script>
    <script src="~/app/services/model.js"></script>

</body>
</html>
