<section>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="search" class="form-control input-md" placeholder="Search for..." autofocus="" ng-model="vm.peopleSearch" ng-keyup="vm.clearSearch($event)">
                <span class="input-group-btn">
                    <button class="btn btn-warning" type="button" ng-click="vm.search()">Go!</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="btn-group pull-right">
                <a class="btn btn-info"
                   data-ng-click="vm.refresh()">
                    <i class="fa fa-refresh"></i><span> Refresh</span>
                </a>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">

        <div class="panel-heading">
            <div class="page-title pull-left">{{vm.title}}</div>
            <small class="page-title-subtle pull-left">({{vm.peopleFilteredCount}} / {{vm.peopleCount}})</small>
            <div class="pull-right"><small class="page-title-subtle">Page {{vm.paging.currentPage}} of {{vm.paging.pageCount}}</small></div>
            <div class="clearfix"></div>
        </div>

        <div class="panel-body">
            
            <div class="row">

                <div class="btn-group">
                    <button class="btn btn-info" ng-click="vm.addPerson()">
                        <i class="fa fa-plus"></i> <span>Add Person</span>
                    </button>
                </div>

                <div class="pull-right">
                    <div class="btn-group" ng-click="vm.search()">
                        <label class="btn btn-danger" ng-model="vm.fuzzyMatchValue" btn-radio="'high'" tooltip=">80%" uncheckable>High</label>
                        <label class="btn btn-warning" ng-model="vm.fuzzyMatchValue" btn-radio="'low'" tooltip="50-80%" uncheckable>Medium</label>
                        <label class="btn btn-primary" ng-model="vm.fuzzyMatchValue" btn-radio="''" uncheckable>All</label>
                    </div>

                    <div class="btn-group" ng-click="vm.search()" tooltip="Filter by days old">
                        <label class="btn btn-default" ng-model="vm.daysFilter" btn-radio="'30'" uncheckable>30 days</label>
                        <label class="btn btn-default" ng-model="vm.daysFilter" btn-radio="'60'" uncheckable>60 days</label>
                        <label class="btn btn-default" ng-model="vm.daysFilter" btn-radio="''" uncheckable>All</label>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <table class="table">
                    <tr>
                        <th></th>
                        <th ng-click="vm.sort('firstname')">First Name</th>
                        <th ng-click="vm.sort('lastname')">Last Name</th>
                        <th ng-click="vm.sort('emailAddress')">Email</th>
                        <th ng-click="vm.sort('zipcode')">ZipCode</th>
                        <th ng-click="vm.sort('dateCreated')">Entry</th>
                        <th ng-click="vm.sort('fuzzyMatchValue')">Match</th>
                    </tr>
                    <tr ng-repeat="p in vm.people">
                        <td>
                            <button class="btn btn-danger btn-sm" ng-click="vm.deletePerson(p)">Delete</button>
                            <button class="btn btn-success btn-sm" ng-click="vm.updatePerson('md', p)">Edit</button>
                        </td>
                        <td>{{p.firstname}}</td>
                        <td>{{p.lastname}}</td>
                        <td>{{p.emailAddress}}</td>
                        <td>{{p.zipcode}}</td>
                        <td>{{p.dateCreated | date: 'MM/dd/yyyy'}}</td>
                        <td>{{p.fuzzyMatchValue | percentage:1}}</td>
                    </tr>
                    <tfoot>
                    <tr>
                        <td colspan="7" style="text-align: center;">
                            <pagination boundary-links="true"
                                        total-items="vm.peopleFilteredCount"
                                        max-size="10"
                                        ng-model="vm.paging.currentPage"
                                        items-per-page="vm.paging.pageSize"
                                        ng-change="vm.pageChanged()"
                                        class="pagination-lg"
                                        page="vm.paging.currentPage"
                                        previous-text="&lsaquo;"
                                        next-text="&rsaquo;"
                                        first-text="&laquo;"
                                        last-text="&raquo;">
                            </pagination>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>

        </div>
    </div>

</section>