<section>

    <h2 class="page-title">CRMC Administration Home</h2>

    <ul class="today-datas">
        <li class="blightblue">
            <div class="pull-left">
                <i class="fa fa-calendar"></i>
            </div>
            <div class="datas-text pull-right">
                <span class="bold">May 18 - 19, 2015</span> Sample Group Name
            </div>
            <div class="clearfix"></div>
        </li>

        <li class="bgreen">
            <a href="#/attendees">
                <div class="pull-left">
                    <i class="fa fa-group"></i>
                </div>
                <div class="datas-text pull-right">
                    <span class="bold">{{vm.totalVisitorsToday}}</span> Visitors Today
                </div>
                <div class="clearfix"></div>
            </a>
        </li>

        <li class="bviolet">
            <a href="#/speakers">
                <div class="pull-left">
                    <i class="fa fa-group"></i>
                </div>
                <div class="datas-text pull-right">
                    <span class="bold">{{vm.totalVisitorsThisMonth}}</span> Visitors This Month
                </div>
                <div class="clearfix"></div>
            </a>
        </li>

        <li class="borange">
            <a href="#/sessions">
                <div class="pull-left">
                    <i class="fa fa-group"></i>
                </div>
                <div class="datas-text pull-right">
                    <span class="bold">{{vm.totalVisitors}}</span> Total Visitors
                </div>
                <div class="clearfix"></div>
            </a>
        </li>

    </ul>

    <div class="row">
        <div class="col-md-6">
            <div class="widget wviolet">
                <div data-cc-widget-header title="Recent Additions"
                     allow-collapse="true">
                </div>
                <div class="widget-content text-center text-info">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Zip Code</th>
                                <th>Date Added</th>
                                <th>Fuzzy Match</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="p in vm.people">
                                <td style="text-align: left;">{{p.fullName}}</td>
                                <td>{{p.zipcode}}</td>
                                <td>{{p.dateCreated | date: 'MM/dd/yyyy'}}</td>
                                <td>{{p.fuzzyMatchValue | percentage:1}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="widget-foot">
                    <i class="fa fa-refresh pull-right" ng-click="vm.refresh()">
                    </i>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <!-- <div class="col-md-6">
            <div class="widget wgreen">
                <div data-cc-widget-header title="{{vm.news.title}}"
                     allow-collapse="true"></div>
                <div class="widget-content text-center text-info">
                    <small>{{vm.news.description}}</small>
                </div>
                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>-->
    </div>

    <!-- <p>
        <button class="btn btn-info" ng-click="vm.notesCollapsed = !vm.notesCollapsed"
                popover="Click here for additional information" popover-trigger="mouseenter"
                popover-placement="right">
            Additional Notes
        </button>
    </p>
    <div collapse="vm.notesCollapsed">
        <div class="well in">
            <h4>Helpful tips:</h4>
            <ul>
                <li>Use the Home tab to create helpful announcement for coaches/parents to stay up-to-date.</li>
                <li>It's good to configure Locations early in the process since you'll need to assign Locations for each game.</li>
                <li>After creating games, you can always go back and change the start time.</li>
            </ul>

            <h4>Screens:</h4>
            <dl class="dl-horizontal">
                <dt>Home</dt>
                <dd>Basic Home screen</dd>
                <dt>Leagues</dt>
                <dd>This is your main starting point for Configuration.</dd>
                <dt>Locations</dt>
                <dd>Configure Locations which can be shared across leagues.</dd>
                <dt>League Configuration</dt>
                <dd>
                    Configuration consists of:
                    <ol>
                        <li>Home screen</li>
                        <li>Teams</li>
                        <li>Games</li>
                    </ol>
                </dd>
            </dl>
        </div>
    </div>-->
</section>