@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title>CRMC Administration</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet"/>
    <link href="~/Content/ng-tags-input.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body class="container">
    <div id="applicationHost" class="container body-content admin-appHost">
        <div data-ng-include="'app/layout/shell.html'"></div>
    </div>

    <!-- Vendor Scripts -->
    <script src="~/scripts/jquery-2.1.1.js"></script>
    <script src="~/scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-messages.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/q.js"></script>
    <script src="~/scripts/breeze.debug.js"></script>
    <script src="~/scripts/breeze.directives.js"></script>
    <script src="~/Scripts/breeze.bridge.angular.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/spin.min.js"></script>
    <script src="~/Scripts/ng-tags-input.min.js"></script>
    <script src="~/Scripts/angular-local-storage.js"></script>
    <script src="~/Scripts/lodash.min.js"></script>

    <!--Bootstrappping-->
    <script src="~/app/app.js"></script>
    <script src="~/app/config.js"></script>
    <script src="~/app/config.route.js"></script>
    <script src="~/app/config.exceptionHandler.js"></script>
    <script src="~/app/services/app-spinner.service.js"></script>
    <script src="~/app/directives/spinner.directive.js"></script>

    <!--Common Modules-->
    <script src="~/app/common/common.js"></script>
    <script src="~/app/common/logger.js"></script>
    <script src="~/app/common/currentUser.js"></script>

    <!-- app -->
    <script src="~/app/layout/shell.controller.js"></script>
    <script src="~/app/users/login.controller.js"></script>
    <script src="~/app/dashboard/dashboard.controller.js"></script>
    <script src="~/app/people/people.controller.js"></script>
    <script src="~/app/censors/censors.controller.js"></script>
    <script src="~/app/users/user.controller.js"></script>

    <!-- app Services -->
    <script src="~/app/services/datacontext.js"></script>
    <script src="~/app/services/directives.js"></script>
    <script src="~/app/common/filters.js"></script>
    <script src="~/app/services/entityManagerFactory.js"></script>
    <script src="~/app/services/model.js"></script>
    <script src="~/app/services/loginRedirect.js"></script>
    <script src="~/app/services/addToken.js"></script>
    <script src="~/app/services/spinnerInterceptor.js"></script>
</body>
</html>
