

<div class="row">
    <div class="col-md-10 col-md-offset-1" style="margin-top: 550px;">
        <div><p>Thank you. Your name will appear on the Wall above you in a moment.</p></div>
        <div style="margin-top: 20px;"><p>After you leave the Civil Rights Memorial Center, your name will continue to appear on the Wall &mdash; both to honor your pledge, and to inspire others to take a stand.</p></div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4" style="margin-top: 150px;">
 
            <!--<a ng-click="vm.gotoWelcome()" class="btn btn-danger btn-lg btn-block">START OVER</a>-->
        <button ng-click="vm.gotoWelcome()" class="btn btn-danger btn-lg btn-block">START OVER</button>

    </div>
</div>

