


<div class="content">
    <!--<a ui-sref="settings" class="pull-right" style="position: absolute; top: 0; right: 0; opacity: 0;">
        Settings
    </a>-->
    <a class="pull-right" style="position: absolute; top: 0; left: 0; opacity: 0; cursor: pointer;" 
       ng-click="vm.unlockSettings(1)">
        Settings1
    </a>
    <a class="pull-right" style="position: absolute; top: 0; right: 0; opacity: 0;cursor: pointer;"
       ng-click="vm.unlockSettings(2)">
        Settings2
    </a> 
    <a class="pull-right" style="position: absolute; bottom: 0; left: 0; opacity: 0;cursor: pointer;"
       ng-click="vm.unlockSettings(3)">
        Settings3
    </a>
    <a class="pull-right" style="position: absolute; bottom: 0; right: 0; opacity: 0;cursor: pointer;"
       ng-click="vm.unlockSettings(4)">
        Settings4
    </a>
    <div class="center-block">
        <div style="width: 800px; margin: 304px auto;" class="text-justify">
            <p>The Wall of Tolerance displays the names of people who have pledged to fight hate and to promote tolerance.</p>
            <p>We invite you to take the pledge as well. To start touch one of the buttons below.</p>
        </div>
    </div>

</div>

<footer class="welcome">
    <div class="buttonRow">
        <button class="btn btn-danger btn-lg pull-left" ng-click="vm.gotoCreate()">
            I want to add my name <br /> to the wall
        </button>
        <button class="btn btn-danger btn-lg pull-right" ng-click="vm.gotoSearch()">
            My name is already
            <br /> on the wall
        </button>
    </div>
</footer>


