<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="crmc.wotdisplay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="crmc.wotdisplay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
                                                                                                                      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=c:\appdata\crmc.mdf;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=.\dev2012;Initial Catalog=CRMC;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>



  <applicationSettings>
    <crmc.wotdisplay.Properties.Settings>
      <setting name="KioskName" serializeAs="String">
        <value>WallDisplay</value>
      </setting>
    </crmc.wotdisplay.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <crmc.wotdisplay.Properties.Settings>
      <setting name="HubName" serializeAs="String">
        <value>CRMCHub</value>
      </setting>
      <setting name="ScrollSpeed" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="AddNewItemSpeed" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MinFontSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MaxFontSize" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MinFontSizeVIP" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MaxFontSizeVIP" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="LeftMargin" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="RightMargin" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="WebServerUrl" serializeAs="String">
        <value>http://localhost/crmc</value>
      </setting>
      <setting name="UseLocalDataSource" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AudioFilePath" serializeAs="String">
        <value>C:\Audio</value>
      </setting>
      <setting name="Volume" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="FontFamily" serializeAs="String">
        <value>Optima LT Std</value>
      </setting>
    </crmc.wotdisplay.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
