<style>
    .selected {
        background-color: black;
        color: white;
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-12" style="margin-top: 225px;">
            <p class="text-center">To select your name, touch it in the list below. Then touch "CONTINUE".</p>
    </div>
</div>

<div class="row">

    <div class="col-md-12">
        <div class="grid">
            <div class="table-container">
                <table class="ng-table-rowselected">
                    <tr ng-repeat="person in vm.people" ng-click="person.$selected = !person.$selected; vm.toggleName(person)" ng-multiple="false" ng-class="{'selected': person.$selected}">
                        <td style="text-align: left;">{{person.firstname}} {{person.lastname}}</td>
                        <td style="text-align: right">{{person.zipcode}}</td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="text-center">
            <pagination ng-model="vm.paging.currentPage"
                        ng-change="vm.pageChanged(page)"
                        total-items="vm.peopleFilteredCount"
                        max-size="vm.paging.maxPagesToShow"
                        page="vm.paging.currentPage"
                        class="pagination-sm custom"
                        items-per-page="vm.paging.pageSize">
            </pagination>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p class="text-center">
                If you are unable to find your name, you can return to the home screen to take the pledge and add
                your name to the list.
            </p>
        </div>
    </div>

</div>


<div class="row">
    <div class="btn-row" style="margin-top: 50px;">

        <div class="pull-left">
            <button class="btn btn-danger btn-lg btn-custom" ng-click="vm.goBack()">
                <i class="fa fa-angle-left"></i> GO BACK
            </button>
        </div>
        <div class="pull-right">
            <button class="btn btn-danger btn-lg btn-custom"
                    ng-click="vm.finish()"
                    ng-disabled="!vm.person">
                CONTINUE <i class="fa fa-angle-right"></i>
            </button>
        </div>

        <div class="text-center">
            <button class="btn btn-danger btn-lg"
                    ng-click="vm.cancel()">
                HOME
            </button>
        </div>
        <!--</div>-->
    </div>
</div>

<pre class="code-preview">
{{}}
</pre>