
<section>



    <div class="row">
        <div class="col-md-12">
            <a ui-sref="welcome" class="small"><i class="fa fa-angle-left"></i> Back to Welcome</a>
        </div>
    </div>


    <div id="setting-view">

       

        <div class="row">
            <div class="col-md-12">
                <form>
                    <fieldset>
                        <legend>
                            Kiosk Station
                        </legend>
                        <div class="form-group">
                            <div class="btn-group-justified">
                                <label ng-repeat="kiosk in vm.availableKiosks" class="btn btn-primary" ng-model="vm.selectedKiosk" btn-radio="kiosk">{{kiosk}}</label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="well">

                    <form>
                        <fieldset>
                            <legend>Wall Configuration</legend>
                            <div class="form-group">
                                <label>Volume: </label>
                                <label class="pull-right">[{{vm.getConfigVolume()}}]</label>
                                <slider floor="0.0" ceiling="1.0" step="0.01" precision="2" translate-fn="vm.translateValue" ng-model="vm.config.volume"></slider>
                            </div>

                            <div class="form-group">
                                <label>Speed Modifier:</label>
                                <label class="pull-right">[{{vm.config.defaultSpeedModifier}}]</label>
                                <slider floor="0.1" ceiling="100.0" step="0.1" precision="2" ng-model="vm.config.defaultSpeedModifier"></slider>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>Rotation Delay Settings</legend>
                            <div class="form-group">
                                <label>Default Cycle Delay (seconds): </label>
                                <label class="pull-right">[{{vm.config.defaultItemDelay}}]</label>
                                <slider floor="0.1" ceiling="60.0" step="0.1" precision="2" ng-model="vm.config.defaultItemDelay"></slider>
                            </div>

                            <div class="form-group">
                                <label>Kiosk Cycle Delay (seconds):</label>
                                <label class="pull-right"> [{{vm.config.defaultLocalItemDelay}}]</label>
                                <slider floor="0.1" ceiling="60.0" step="0.1" precision="2" ng-model="vm.config.defaultLocalItemDelay"></slider>
                            </div>

                            <div class="form-group">
                                <label>Priority Name Cycle Delay (seconds):</label>
                                <label class="pull-right"> [{{vm.config.defaultPriorityItemDelay}}]</label>
                                <slider floor="0.1" ceiling="60.0" step="0.1" precision="2" ng-model="vm.config.defaultPriorityItemDelay"></slider>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>Font Sizes</legend>
                            <div class="form-group">
                                <label>Default Font Sizes</label>
                                <label class="pull-right">
                                    Min: [{{vm.config.defaultMinFontSize}}]
                                    Max: [{{vm.config.defaultMaxFontSize}}]
                                </label>
                                <slider floor="1" ceiling="60" ng-model-low="vm.config.defaultMinFontSize" ng-model-high="vm.config.defaultMaxFontSize"></slider>
                            </div>

                            <div class="form-group">
                                <label>Priority Font Sizes</label>
                                <label class="pull-right">
                                    Min: [{{vm.config.defaultPriorityMinFontSize}}]
                                    Max: [{{vm.config.defaultPriorityMaxFontSize}}]
                                </label>
                                <slider floor="1" ceiling="60" ng-model-low="vm.config.defaultPriorityMinFontSize" ng-model-high="vm.config.defaultPriorityMaxFontSize"></slider>
                            </div>
                        </fieldset>


                        <fieldset>
                            <legend>Kiosk Entry Animations</legend>

                            <div class="form-group">
                                <label>On Screen Delay:</label>
                                <label class="pull-right">[{{vm.config.newItemOnScreenDelay}}]</label>
                                <slider floor="0.1" ceiling="60.0" step="0.1" precision="2" ng-model="vm.config.newItemOnScreenDelay"></slider>
                            </div>

                            <div class="form-group">
                                <label>Grow Time:</label>
                                <label class="pull-right">[{{vm.config.newItemOnScreenGrowTime}}]</label>
                                <slider floor="0.1" ceiling="60.0" step="0.1" precision="2" ng-model="vm.config.newItemOnScreenGrowTime"></slider>
                            </div>

                            <div class="form-group">
                                <label>Shrink Time:</label>
                                <label class="pull-right">[{{vm.config.newItemOnScreenShrinkTime}}]</label>
                                <slider floor="0.1" ceiling="60.0" step="0.1" precision="2" ng-model="vm.config.newItemOnScreenShrinkTime"></slider>
                            </div>

                            <div class="form-group">
                                <label>Fall Delay:</label>
                                <label class="pull-right"> [{{vm.config.newItemFallAnimationDelay}}]</label>
                                <slider floor="0.1" ceiling="60.0" step="0.1" precision="2" ng-model="vm.config.newItemFallAnimationDelay"></slider>
                            </div>

                            <div class="form-group">
                                <label>Fall Delay Offset:</label>
                                <label class="pull-right"> [{{vm.config.newItemFallAnimationDelayOffset}}]</label>
                                <slider floor="-10.0" ceiling="30.0" step="0.1" precision="2" ng-model="vm.config.newItemFallAnimationDelayOffset"></slider>
                            </div>

                        </fieldset>

                        <fieldset>
                            <legend>Margins</legend>

                            <div class="form-group">
                                <label>Kiosk Entry Top Margin:</label>
                                <label class="pull-right">[{{vm.config.newItemTopMargin}}]</label>
                                <slider floor="0.1" ceiling="60.0" step="0.1" precision="2" ng-model="vm.config.newItemTopMargin"></slider>
                            </div>

                            <div class="form-group">
                                <label>Default Top Margin: </label>
                                <label class="pull-right">[{{vm.config.topMarginOffset}}]</label>
                                <slider floor="0.1" ceiling="60.0" step="0.1" precision="2" ng-model="vm.config.topMarginOffset"></slider>
                            </div>

                        </fieldset>


                        <fieldset>
                            <legend>Colors</legend>

                        </fieldset>

                        <button class="btn btn-danger" ng-click="vm.save()">Save Settings</button>
                    </form>

                </div>

            </div>
        </div>

    </div>


</section>