<section>
    <div class="row">
        <div class="col-lg-6">
            <input type="text" class="form-control" placeholder="Search for..." autofocus="" ng-model="vm.censorSearch" ng-keyup="vm.search($event)">
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="btn-group pull-right">
                <a class="btn btn-info"
                   data-ng-click="vm.refresh()">
                    <i class="glyphicon glyphicon-refresh"></i><span>Refresh</span>
                </a>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="page-title pull-left">{{vm.title}}</div>
            <small class="page-title-subtle pull-left">({{vm.filteredCensors.length}} / {{vm.censors.length}})</small>
            <!--<div class="pull-right"><small class="page-title-subtle">Page {{vm.paging.currentPage}} of {{vm.paging.pageCount}}</small></div>-->
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            
                <div class="row">
                    <form class="form-inline form-group">
                        <input type="text" class="form-control" placeholder="New Censor Word" ng-model="vm.newCensorWord" ng-keyup="vm.clearInput($event)">
                        <button type="submit" class="btn btn-primary" ng-click="vm.addItem()"
                                tooltip="Click here to add new censor" tooltip-placement="left">
                            <span class="fa fa-plus"></span> Add
                        </button>
                    </form>
                </div>

                <table class="table table-hover table-condensed table-responsive table-container" >
                    <thead>
                        <tr>
                            <th ng-click="vm.sort('word')" style="cursor: pointer">Word</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in vm.filteredCensors">
                            <td ng-hide="vm.currentEdit[c.id]">{{c.word}}</td>
                            <td ng-show="vm.currentEdit[c.id]">
                                <input type="text" class="form-control" ng-model="c.word" />
                            </td>

                            <td>
                                <div class="btn-group" dropdown ng-hide="vm.currentEdit[c.id]">
                                    <button class="btn btn-success dropdown-toggle" dropdown-toggle type="button">
                                        Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a ng-click="vm.editItem(c)">Edit</a></li>
                                        <li><a ng-click="vm.deleteItem(c)">Delete</a></li>
                                    </ul>
                                </div>

                                <button class="btn btn-success" ng-show="vm.currentEdit[c.id]" ng-click="vm.saveItem(c)">Save</button>
                                <button class="btn btn-danger" ng-show="vm.currentEdit[c.id]" ng-click="vm.cancelEdit(c.id)">Cancel</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
</section>

